[Desktop Entry]
Type=Application
Version=1.0
Name=xbomb
GenericName='minesweeper' game with squares, hexagons or triangles
Exec=xbomb
Terminal=false
Icon=xbomb
Categories=Game;LogicGame;
Keywords=minesweeper;hexagon;square;triangle;
